

.item1{
  height: 200px;                                          
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.23.jpeg);
  background-position: center;
  background-size: cover;
}
.item2{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.23\ \(1\).jpeg);
  background-position: center;
  background-size: cover;
}
.item3{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.51.jpeg);
  background-position: center;
  background-size: cover;
}
.item4{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.50.jpeg);
  background-position: center;
  background-size: cover;
}
.item5{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.50.jpeg);
  background-position: center;
  background-size: cover;
}
.item6{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.52.jpeg);
  background-position: center;
  background-size: cover;
}
.item7{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.51\ \(3\).jpeg);
  background-position: center;
  background-size: cover;
}
.item8{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.50\ \(3\).jpeg);
  background-position: center;
  background-size: cover;
}
.item9{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.49.jpeg);
  background-position: center;
  background-size: cover;
}
.item10{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.47.jpeg);
  background-position: center;
  background-size: cover;
}
.item11{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.47.jpeg);
  background-position: center;
  background-size: cover;
}
.item12{
  height: 200px;
  background-image: url(img/WhatsApp\ Image\ 2023-08-23\ at\ 14.50.48.jpeg);
  background-position: center;
  background-size: cover;
}
h1{
  margin: 20px;
  font-family: fantasy;
  text-align: center;
}