
section{
    height: 1000px;
    width: 100%;
    background-color: aliceblue;
    background-image: url(img/mezcla-plana-queso-gourmet-uvas-tabla-cortar-espacio-copia.jpg);
    background-size: cover;
    
}
section div{
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    padding: 100px;
}

#ubicacion{
    color: aliceblue;
    font-family: cursive;
    text-align: center;
}
.what{
    height: 60px;
    width: 60px;
    background-color: green;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 0 5px #fff;
}