
section{
    height: 1000px;
    width: 100%;
    background-color: aliceblue;
    background-image: url(img/mezcla-plana-queso-gourmet-uvas-tabla-cortar-espacio-copia.jpg);
    background-size: cover;
    
}

.SobreNosotros{
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
}
