
section{
    height: 1000px;
    width: 100%;
    background-color: aliceblue;
    background-image: url(img/vista-superior-seleccion-sabrosa-carne-sobre-mesa.jpg);
    background-size: cover;
    
}
h1{
    font-size: 30px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    padding: 500px;
}
