
section{
    height: 1000px;
    width: 100%;
    background-color: aliceblue;
    background-image:linear-gradient( rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.7)), url(img/mezcla-plana-queso-gourmet-uvas-tabla-cortar-espacio-copia.jpg);
    background-size: cover;
    
}
h1{
    font-size: 40px;
    color: aliceblue;
    font-family: cursive;
    text-align: center;
    padding: 100px;
}
.info{
    color: aliceblue;
    font-family: cursive;
    font-size: 30px;
    text-align: left;
}
